<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/bar-chart']" routerLinkActive="router-link-active" >Bar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/doughnut-chart']" routerLinkActive="router-link-active" >Doughnut Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/radar-chart']" routerLinkActive="router-link-active" >Radar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/pie-chart']" routerLinkActive="router-link-active" >Pie Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/line-chart']" routerLinkActive="router-link-active" >Line Chart</a>
    </li>
  </ul>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>

